p{
  font-family: Roboto;
}

.video-title {
  font-weight: bold;
  font-size: 18px;
  width: 280px;
  font-style: italic;
  line-height: 24px;
  margin-bottom: 5px;
}

.video-stats {
  font-size: 14px;
  color: rgb(96, 96, 96);
  margin-top: 0;
  margin-bottom: 20px;
}

.video-author {
  font-size: 14px;
  color: rgb(96, 96, 96);
  margin-top: 0;
  margin-bottom: 20px;
}

.video-description{
  font-size: 14px;
  color: rgb(96, 96, 96);
  width: 280px;
  line-height: 22px;
  margin-top: 0;
  margin-bottom: 100px;
}

.apple-text{
  margin-bottom: 50px;
  font-size: 14px;
  background-color: rgb(227, 65, 64);
  color: white;
  text-align: center;
  padding-top: 18px;
  padding-bottom: 18px;
}

.span-text:hover{
text-decoration: underline;
cursor: pointer;
}

.span-text:active{
text-decoration: underline;
}